tr {
  background-color: #255957;
}
table {
  width: 40%;
}

#basictable {
  background-color: #437c90;
}

p {
  color: white;
}

table,
td {
  border: 1px solid wheat;
  border-collapse: collapse;
}
